@use "../styles/utils/variables" as vars;

.footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  background-color: vars.$light-gray; // Example background
  color: vars.$dark-gray;
  border-top: 1px solid vars.$secondary-color;
}
