.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: vars.$dark-gray; // Example background
  color: vars.$background-color;

  .navbar-brand a {
    color: vars.$background-color;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;

    li a {
      color: vars.$background-color;
      text-decoration: none;

      &:hover {
        color: vars.$light-gray;
      }
    }
  }
}
