.footer-nav {
  display: none; // hidden by default
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: vars.$primary-color;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  // show on ≤ medium (768px)
  @include mixins.respond(medium) {
    display: block;
  }

  nav ul {
    @include mixins.flex-center;
    justify-content: space-around;
    margin: 0;
    padding: 1rem 0;
    padding-bottom: 1.4rem;

    li {
      list-style: none;
    }

    a {
      @include mixins.flex-center;
      flex-direction: column;
      font-size: 1rem;
      color: vars.$secondary-text-color;
      text-decoration: none;

      .icon {
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
      }
    }

    .active a {
      color: vars.$primary-color;
    }
  }
}
