@use "../utils/variables" as vars;

body {
  font-family: vars.$font-secondary;
  color: vars.$text-color;
  background-color: vars.$background-color;
  // Add other base typography styles here, e.g., font-size, line-height for body
}

// Can also define styles for headings, paragraphs, etc.
// h1, h2, h3, h4, h5, h6 {
//   font-family: "Roboto", Arial, Helvetica, sans-serif; // Or a different font for headings
// }

// p {
//   line-height: 1.6;
// }
